* {
  /* kad i elemtu ploti ir auksti isiskaiciuotu padding ir border */
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  /* background-color: tomato; */
  margin: 0;
  background-color: rgb(202, 202, 202);
}

h1 {
  font-weight: 300;
}

.container {
  padding: 30px;
  background-color: snow;
  max-width: 800px;
  /* border: 1px solid gray; */
  margin-right: auto;
  margin-left: auto;
}

.boxes {
  padding: 30px;
  border: 1px dashed gray;
  text-align: center;
  background-image: url("1.jpg");
  background-size: contain;
}

.box {
  background-color: tomato;
  width: 28%;
  height: 150px;
  padding: 50px;
  border: 5px solid black;
  display: inline-block;
  margin: 15px 15px;
}

.special {
  margin: 50px auto 5px;
}

.h2-1 {
  padding-bottom: 19px;
  margin-bottom: 0;
}